
<audio id="bossBGM">
  <source src="/boss/mega.mp3" type="audio/mpeg">
</audio>
<div class="text-center pd-5"style="background-color:black">
  <br><br>
  <img id="bossImg" style=" width:150px ; height: 250px;"src="/boss/boss.gif">
  <br><br><br>
  <canvas id="screen" width="1000" height="600"></canvas>
</div>

<button id="attack">Test</button>



<script type="module" src="/boss/bossJS.js"></script>