<style>
  #myProgress {
    width: 100%;
    background-color: rgb(223, 223, 223);
    margin: 6.3% 5%;
  }

  #myBar {
    width: 60%;
    height: 30px;
    background-color: #51bcda;
  }
</style>

{{!-- ROW1 --}}

<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fas fa-diagnoses" style="color: #3497e9;"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">LEVEL</p>
              <p id="cardLevel"class="card-title">999<p>
            </div>
          </div>
        </div>
        <div class="row">
          <div id="myProgress">
          <div id="myBar"></div>
          </div>
        </div>


      </div>
      <div class="card-footer ">
        <hr>
        <div id="cardEXP" class="stats">
          EXP: 0/0
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <center>
        <h3>UPGRADE</h3>
        <hr>
        <p id="cardUpgradePoint"class="card-category" style="font-size:20px;">Point: 10</p>
        <div class="row">
          <div class="col-5 col-md-4">
            <div style="font-size:50px; cursor:pointer;"onclick="upgradeHP()">
              <i class="fas fa-heart text-danger"> +</i>              
            </div>
          </div>

          <div class="col-5 col-md-4">
            <div style="font-size:50px; cursor:pointer;"onclick="upgradeINT()">
              <i class="fas fa-brain" style="color:#3497e9;"> +</i>            
            </div>
          </div>

          <div class="col-5 col-md-4">
            <div style="font-size:50px; cursor:pointer;"onclick="upgradeSTR()">
              <i class="fas fa-fist-raised" style="color:red;"> +</i>          
            </div>
          </div>
          
        </div>
        
        </center>
      </div>
      <div class="card-footer ">
        <div class="stats">
        </div>        
      </div>
    </div>
  </div>
</div>
<hr>
{{!-- ROW2 --}}
<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fas fa-heart text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Health</p>
              <p id="hpLevel" class="card-title">Level 0<p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div id="hp" class="stats">
          HP: 0
        </div>        
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fas fa-brain" style="color:#3497e9;"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Intelligence</p>
              <p id="intLevel" class="card-title">Level 0<p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div id="mana" class="stats">
          MANA: 0
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fas fa-fist-raised" style="color:red;"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Strength</p>
              <p id="strLevel" class="card-title">Level 0<p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div id="atk" class="stats">
          ATK: 0
        </div>
      </div>
    </div>
  </div> 
</div>

<hr>
{{!-- ROW3--}}

<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fab fa-d-and-d" style="color:orange;"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">QUESTS</p>
              <p id="questCount" class="card-title">0
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div id="questsCompleted" class="stats">
          QUESTS COMPLETED: 0
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fas fa-journal-whills" style="color:#624a2e;"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">SKILL LEARNED</p>
              <p id="skillLearned" class="card-title">0
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div id="totalHours"class="stats">
          Total Hours: 0
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fas fa-coins" style="color:#FFDF00;"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">GOLD</p>
              <p id="gold" class="card-title">0
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div id="goldTotal" class="stats">
          Total Earned: 0
        </div>
      </div>
    </div>
  </div>  
</div>







