<center>
        <div class="logo">
        <a href="" class="simple-text logo-normal" style="background-color: azure;border-radius: 100%; height:125px;width:125px; ">
          <div class="logo-image-small">
            <img src="../assets/img/profile.webp" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; object-fit: cover;">
          </div>
        </a>
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
          <div id="username">Username</div>
          <!-- <div class="logo-image-big">
            <img src="../assets/img/logo-big.png">
          </div> -->
        </a>
      </div>
</center>